# by steadfaster:
# making blockdevice a symlink for qseecomd
# qseecomd will CHECK if that is a SYMLINK! and if not it CRASHES!
# doing the same on fs, boot, init,.. does NOT work!!
service createsym /sbin/sh /createsym.sh
    oneshot

# by steadfaster (make double tap work)
on init
    write /sys/devices/virtual/input/lge_touch/tap2wake 1

# by steadfaster (see above)
on boot
    start createsym

# encryption support
on fs 
service qseecomd /sbin/qseecomd

on boot 
service logd /system/bin/logd
    disabled
    class core
    socket logd stream 0666 logd logd
    socket logdr seqpacket 0666 logd logd
    socket logdw dgram 0222 logd logd
    seclabel u:r:logd:s0
    group root system
